.venv/
data/
model/handwritten_cyrillic_capital_letter_de_dataset/
model/handwritten_cyrillic_capital_letter_dje_dataset/
model/handwritten_cyrillic_capital_letter_dzhe_dataset/
model/handwritten_cyrillic_capital_letter_lje_dataset/
model/handwritten_cyrillic_capital_letter_nje_dataset/
model/handwritten_cyrillic_capital_letter_tshe_dataset/
model/handwritten_cyrillic_small_letter_dje_dataset/
model/handwritten_cyrillic_small_letter_dzhe_dataset/
model/handwritten_cyrillic_small_letter_lje_dataset/
model/handwritten_cyrillic_small_letter_nje_dataset/
model/handwritten_cyrillic_small_letter_tshe_dataset/